<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.call_to_action_title }}</h2>
                <hr class="light">
                <p class="text-faded">
                  Good invoice is designed to help your business grow. It is created out of the necessity to automate invoice generation.
                  <ol style="text-align:center; list-style-position:inside;">
                    <li>Form the foundation of business growth.</li>
                    <li>Add stablity to your business.</li>
                    <li>Increase your revenue while you work on new customers.</li>
                    <li>Is part of the indispensable tool for any smart and small business.</li>
                    <li>Increase your portfolio variety by improving your total revenue.</li>
                    <li>Do more work with less step.</li>
                    <li>Easy to use.</li>
                  </ol>
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started with a new account today!</a>
            </div>
        </div>
    </div>
</section>
