<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Growing your business? Struggling to find an invoicing system that will save you time.</h2>
            <hr>
            <p>GoodInvoice is here to help!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Started Today</a>
        </div>

        <div class="header-content-inner">
            <h2>Growing your business? Struggling to find an invoicing system that will save you time.</h2>
            <hr>
            <p>GoodInvoice is here to help!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Started Today</a>
        </div>
    </div>
</header>
